app:
  title: Ansible RHDH / Self-Service
  baseUrl: http://localhost:3000

organization:
  name: Ansible RHDH

backend:
  # Used for enabling authentication, secret is shared by all backend plugins
  # See https://backstage.io/docs/auth/service-to-service-auth for
  # information on the format
  # auth:
  #   keys:
  #     - secret: ${BACKEND_SECRET}
  baseUrl: http://localhost:7007
  listen:
    port: 7007
    # Uncomment the following host directive to bind to specific interfaces
    # host: 127.0.0.1
  csp:
    connect-src: ["'self'", 'http:', 'https:']
    # Content-Security-Policy directives follow the Helmet format: https://helmetjs.github.io/#reference
    # Default Helmet Content-Security-Policy values can be removed by setting the key to false
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  # This is for local development only, it is not recommended to use this in production
  # The production database configuration is stored in app-config.production.yaml
  database:
    client: better-sqlite3
    connection: ':memory:'
  # workingDirectory: /tmp # Use this to configure a working directory for the scaffolder, defaults to the OS temp-dir
  auth:
    dangerouslyDisableDefaultAuthPolicy: true

integrations:
  github:
    - host: github.com
      # This is a Personal Access Token or PAT from GitHub. You can find out how to generate this token, and more information
      # about setting up the GitHub integration here: https://backstage.io/docs/integrations/github/locations#configuration
      token: <YOUR_GITHUB_PAT>
    ### Example for how to add your GitHub Enterprise instance using the API:
    # - host: ghe.example.net
    #   apiBaseUrl: https://ghe.example.net/api/v3
    #   token: ${GHE_TOKEN}
  gitlab:
    - host: gitlab.com
      token: <YOUR_GITLAB_PAT>

proxy:
  ### Example for how to add a proxy endpoint for the frontend.
  ### A typical reason to do this is to handle HTTPS and CORS for internal services.
  # endpoints:
  #   '/test':
  #     target: 'https://example.com'
  #     changeOrigin: true

# Reference documentation http://backstage.io/docs/features/techdocs/configuration
# Note: After experimenting with basic setup, use CI/CD to generate docs
# and an external cloud storage when deploying TechDocs for production use-case.
# https://backstage.io/docs/features/techdocs/how-to-guides#how-to-migrate-from-techdocs-basic-to-recommended-deployment-approach
techdocs:
  builder: 'local' # Alternatives - 'external'
  generator:
    runIn: 'docker' # Alternatives - 'local'
  publisher:
    type: 'local' # Alternatives - 'googleGcs' or 'awsS3'. Read documentation for using alternatives.

enableExperimentalRedirectFlow: true
signInPage: rhaap
auth:
  # see https://backstage.io/docs/auth/ to learn about auth providers
  environment: development
  providers:
    # See https://backstage.io/docs/auth/guest/provider
    # guest: {}
    github:
      development:
        # Need to create a github app and use the client ID and client secret here
        clientId: <changeme>
        clientSecret: <changeme>
    rhaap:
      development:
        # Need to create an app on AAP instance and use the client ID and client secret here
        host: <changeme>
        checkSSL: false
        clientId: <changeme>
        clientSecret: <changeme>
        signIn:
          resolvers:
            - resolver: allowNewAAPUserSignIn

scaffolder:
  # see https://backstage.io/docs/features/software-templates/configuration for software template options

catalog:
  stitchingStrategy:
    immediate: true
  orphanStrategy: delete
  processingInterval: { seconds: 10 }
  pollingInterval: { seconds: 1 }
  stitchTimeout: { minutes: 1 }
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow:
        [Component, System, Group, Resource, Location, Template, API, Users]
  # rules:
  #   - allow: [Component, System, API, Resource, Location]
  locations:
    # Local example data, file locations are relative to the backend process, typically `packages/backend`
    # - type: file
    #   target: ../../examples/entities.yaml

    # # Local example template
    # - type: file
    #   target: ../../examples/template/template.yaml
    #   rules:
    #     - allow: [Template]

    # # Local example organizational data
    # - type: file
    #   target: ../../examples/org.yaml
    #   rules:
    #     - allow: [User, Group]

    ## Uncomment these lines to add more example data
    # - type: url
    #   target: https://github.com/backstage/backstage/blob/master/packages/catalog-model/examples/all.yaml

    ## Uncomment these lines to add an example org
    # - type: url
    #   target: https://github.com/backstage/backstage/blob/master/packages/catalog-model/examples/acme-corp.yaml
    #   rules:
    #     - allow: [User, Group]
    # - type: url
    #   target: https://github.com/ansible/ansible-rhdh-templates/blob/devel/all.yaml
    #   rules:
    #     - allow: [Template]
    # - type: url
    #   target: https://github.com/ansible/ansible-rhdh-templates/blob/devel/seed.yaml
    #   rules:
    #     - allow: [Template]
  # Experimental: Always use the search method in UrlReaderProcessor.
  # New adopters are encouraged to enable it as this behavior will be the default in a future release.
  useUrlReadersSearch: true
  providers:
    rhaap:
      development:
        orgs: Default
        sync:
          orgsUsersTeams:
            schedule:
              frequency: { minutes: 60 }
              timeout: { seconds: 30 }
          jobTemplates:
            enabled: true
            # labels?: []
            # surveyEnabled?: false
            schedule:
              frequency: { minutes: 60 }
              timeout: { seconds: 30 }
          # ADDED FOR FUTURE REFERENCE
          # TODO: UNCOMMENT FOR PATTERN INTEGRATION
          # collections:
          #   enabled: true
          #   schedule:
          #     frequency: { minutes: 5 }
          #     timeout: { seconds: 30 }

ansible:
  analytics:
    enabled: true
  devSpaces:
    baseUrl: 'https://devspaces.apps.ansible-rhdh.testing.ansible.com/'
  automationHub:
    baseUrl: 'https://example.com'
  rhaap:
    # Need to create a AAP token and use token here
    baseUrl: <changeme>
    token: <changeme>
    checkSSL: false
    :
      type: file
      target: ''
  creatorService:
    baseUrl: 'localhost'
    port: '8000'

kubernetes:
  # see https://backstage.io/docs/features/kubernetes/configuration for kubernetes configuration options

# see https://backstage.io/docs/permissions/getting-started for more on the permission framework
permission:
  # setting this to `false` will disable permissions
  enabled: true
  rbac:
    admin:
      superUsers:
        - name: user:default/admin
      users:
        - name: user:default/admin
        - name: group:default/admins
    pluginsWithPermission:
      - catalog
      - scaffolder
      - permission
